// 公共的循环变量
@for $i from 0 through 20{
  // 宽度百分比
  .col#{$i * 5}{
    width: $i * 5% !important;
  }

  // 高度百分比
  .row#{$i * 5}{
    height: $i * 5% !important;
  }
}

// 颜色

.colorSky{
  color: $sky !important;
}

.colorPink{
  color: deeppink !important;
}

.colorBlack{
  color: #333 !important;
}

.colorOrange{
  color: #F65A44 !important;
}

.colorLightOrange{
  color:#f89432 !important;
}

.colorRed{
  color: red !important;
}

.colorWhite{
  color: #fff !important;
}

.colorGreen{
  color: $thinGreen !important;
}

.colorLine{
  color:$line !important;
}

.colorGrey{
  color:$lighterGrey !important;
}

.colorText{
  color:#8e959a !important;
}

.colorLightRed{
  color: #F7E5E3 !important;
}

// 背景颜色

.bkSky{
  background-color: $sky;
}

.bkWhite{
  background-color: #fff;
}

.bkGreen{
  background-color: $thinGreen;
}

.bkGrey{
  background-color: #dedede;
}

.bkLightGrey{
  background-color: #eee;
}

.bkOrange{
  background-color: #F65A44 !important;
}

.bkLightOrange{
  background-color: #f89432 !important;
}

.bkRed{
  background-color: red;
}

.bkLightRed{
  background-color: #F7E5E3;
}

.bkBlack{
  background-color: #000;
}

// 水平

.tl{
  text-align: left;
}

.tc{
  text-align: center;
}

.tr{
  text-align: right;
}

// 浮动

.fl{
  float: left;
}

.fr{
  float: right;
}

// 指针

.point{
  cursor: pointer;
}

.text{
  cursor: text;
}

// display

.dib{
  display: inline-block;
}

.di{
  display: inline;
}

.db{
  display: block;
}

.dn{
  display: none;
}

// font-weight

.fb{
  font-weight: bold;
}

// vertical-align

.vc{
  vertical-align:middle !important;
}

.vb{
  vertical-align: bottom !important;
}

.vs{
  vertical-align: sub !important;
}

// overflow

.oa{
  overflow: auto !important;
}

.oh{
  overflow: hidden;
}

.ov{
  overflow: visible;
}

// text-overflow

.te{
  text-overflow:ellipsis;
}

// z-index

.z999{
  z-index: 999;
}

// position

.pa{
  position: absolute
}

.pr{
  position: relative;
}

.pf{
  position: fixed;
}

// border

.borderGrey{
  border: 1px solid $line;
}

.borderDarkGery{
  border: 1px solid #d6d7dc;
}

.borderBottom{
  border-bottom:solid 1px #d6d7dc;
}

.borderBottomDark{
  border-bottom: 1px solid #666;
}

.borderNone{
  border:0;
}

// border-radius

.br50{
  border-radius:50%;
}

// text-decoration

.tdline{
  text-decoration:line-through; 
}

.tdnone{
  text-decoration: none;
}

// 清除浮动
.clearFix{
  zoom:1;
  &:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

