
@import './_color';

/*** 提醒类 ***/

// 统一加载背景弱化
.alertBackGround{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  background-color: #fff;
  opacity: 0.05;
}

// 背景黑色弱化
.alertBkFilter{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.3);
}

// 加载图
.alertLoading {
  position: absolute;
  left: 48%;
  top: 40%;
  width: 0.8rem;
  height: 0.8rem;
  z-index: 8;
  .cube1,.cube2{
    background-color: #f65a44;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
  }
  .cube2{
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
}

// 温馨提示
.alertRemind{
  position: absolute;
  left: 20%;
  top: 45%;
  width: 60%;
  z-index: 8;
  padding: 0.4rem 0.2rem;
  word-break: break-all;
  line-height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 0.5rem;
}

// 确认
.alertConfirm{
  position: absolute;
  left: 15%;
  top: 40%;
  width: 70%;
  border-radius: 0.2rem;
  background-color: #e8e8e8;
  z-index:8;
  span{
    color: #0894ec;
  }
  .word{
    border-bottom: 1px solid #666;
  }
  .cancel{
    position: relative;
    &:before{
      content:'';
      position: absolute;
      left: 0;
      height: 50%;
      width: 1px;
      background-color: #666;
    }
  }
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(44px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(44px) translateY(44px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(44px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(44px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(44px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(44px) translateY(44px) rotate(-179deg);
    -webkit-transform: translateX(44px) translateY(44px) rotate(-179deg);
  } 50.1% {
    transform: translateX(44px) translateY(44px) rotate(-180deg);
    -webkit-transform: translateX(44px) translateY(44px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(44px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(44px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*** 公用全局样式类 ***/

// 边距
.relativeBox{
  padding: 0 0.467rem;
  height: 100%;
  width: 100%;
}
// check按钮
.checkButton{
  height: 0.35rem;
  width: 0.35rem;
  display: inline-block;
  color: $orange;
  border: 1px solid $orange;
  position: relative;
  font-size: 0.26rem;
  border-radius: 0.05rem;
  &.active{
    &:after{
      text-align: center;
      height: 100%;
      width: 100%;
      line-height: 0.3rem;
      content:'✔';
      display: inline-block;
    }
  }
}
// 小型选择块按钮
.smallChooseButton{
  padding: 0.1rem 0.3rem;
  display: inline-block;
  text-align: center;
  min-width: 0.5rem;
  margin-right: 0.2rem;
  background-color: #eee;
  border-radius: 0.1rem;
  &.active{
    background-color: $orange;
    color: $white;
  }
}
// 小型点击按钮
.smallTouchButton{
  padding: 0.2rem 0.3rem;
  display: inline-block;
  text-align: center;
  min-width: 0.5rem;
  margin-right: 0.2rem;
  border-radius: 0.1rem;
  &.active{
    background-color: $orange;
    color: $white;
  }
}

// 省略样式
@for $i from 1 through 3{
  .allOmit#{$i}{
    position: relative;
    .inner{
      width: 100%;
      line-height: 0.5rem;
      overflow: hidden;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
    }
  }

  .omit#{$i}{
    width: 100%;
    line-height: 0.5rem;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

/*** vue-lazyload ***/
[lazy=loaded]{
  animation: imgBlink linear 0.2s;
}

@keyframes imgBlink{
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*** 局部重复样式类 ***/

// 滑动分页器
.swiper-pagination-bullet{
  height: 0.2rem !important;
  width: 0.2rem !important;
}

.swiper-pagination-bullets{
  bottom: 0.2rem !important; 
}

/*** 移动端特殊 ***/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

